Eyelock/UI/Service References/EyelockService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Eyelock.Service" />
  <xs:element name="ProcessEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Eyelock.Service" minOccurs="0" name="ev" nillable="true" type="q1:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Eyelock.Service" minOccurs="0" name="ProcessEventResult" nillable="true" type="q2:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Eyelock.Service" minOccurs="0" name="ev" nillable="true" type="q3:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Eyelock.Service" minOccurs="0" name="RemoveEventResult" nillable="true" type="q4:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Eyelock.Service" minOccurs="0" name="GetAllEventsResult" nillable="true" type="q5:ServiceResultOfArrayOfEvent_PgLz_PdTx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Eyelock.Service" minOccurs="0" name="GetNewEventsResult" nillable="true" type="q6:ServiceResultOfArrayOfEvent_PgLz_PdTx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="last" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Eyelock.Service" minOccurs="0" name="FindResult" nillable="true" type="q7:ServiceResultOfArrayOfUser_PgLz_PdTx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>