Eyelock/UI/Service References/EyelockService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QueueService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IQueueService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Eyelock.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQueueService_ProcessEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessEvent" />
  </wsdl:message>
  <wsdl:message name="IQueueService_ProcessEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessEventResponse" />
  </wsdl:message>
  <wsdl:message name="IQueueService_RemoveEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEvent" />
  </wsdl:message>
  <wsdl:message name="IQueueService_RemoveEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEventResponse" />
  </wsdl:message>
  <wsdl:message name="IQueueService_GetAllEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="IQueueService_GetAllEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IQueueService_GetNewEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewEvents" />
  </wsdl:message>
  <wsdl:message name="IQueueService_GetNewEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IQueueService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IQueueService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:portType name="IQueueService">
    <wsdl:operation name="ProcessEvent">
      <wsdl:input wsaw:Action="ProcessEvent" message="tns:IQueueService_ProcessEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueService/ProcessEventResponse" message="tns:IQueueService_ProcessEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEvent">
      <wsdl:input wsaw:Action="RemoveEvent" message="tns:IQueueService_RemoveEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueService/RemoveEventResponse" message="tns:IQueueService_RemoveEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <wsdl:input wsaw:Action="GetAllevents" message="tns:IQueueService_GetAllEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueService/GetAllEventsResponse" message="tns:IQueueService_GetAllEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewEvents">
      <wsdl:input wsaw:Action="GetNewEvents" message="tns:IQueueService_GetNewEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueService/GetNewEventsResponse" message="tns:IQueueService_GetNewEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="Find" message="tns:IQueueService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueService/FindResponse" message="tns:IQueueService_Find_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IQueueService" type="tns:IQueueService">
    <wsp:PolicyReference URI="#NetTcpBinding_IQueueService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ProcessEvent">
      <soap12:operation soapAction="ProcessEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEvent">
      <soap12:operation soapAction="RemoveEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <soap12:operation soapAction="GetAllevents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewEvents">
      <soap12:operation soapAction="GetNewEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap12:operation soapAction="Find" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueueService">
    <wsdl:port name="NetTcpBinding_IQueueService" binding="tns:NetTcpBinding_IQueueService">
      <soap12:address location="net.tcp://localhost/Eyelock/QueueService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/Eyelock/QueueService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>